@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.btn {
    position: relative;
    z-index:1
}

.btn::after {
    content: '';
    position: absolute;

    width: 110%;
    height: 10px;
    background-color: hsl(51, 100%, 49%);
    opacity: 0.3;
    bottom: -2px;
    left:-5%;
    z-index: -1;
    border-radius: 2px;

}